@model SGPARNA.Models.Tipo_Documento

@{
    ViewBag.Title = "Details";
}

    <div class="container">
        <h2>Detalhes</h2>

        <div>
            <h4>Tipo_Documento</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Numero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Numero)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Imagem)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Imagem)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>